body {
  background: white;
}

.content {
  white-space: pre-line;
}

h4.divider {
  margin-top:1em;
}

#emaillist {
  .active {
    background:#e0e0e0;
  }
}

#emailtasks {
  i {
    display:inline-block;
    float:left;
  }
  .actionbuttons {
    float:right;
  }
}

#displayedemail {
  min-height:350px;
}

.button.icon {
  &:hover {
    color:green;
  }
}
div.remove.icon {
  &:hover {
    color:red;
  }
}
div.trash.icon {
  &:hover {
    color:red;
  }
}