body {
  background: #EAECF0;
  color: #555;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #45A1D6;
}

.content {
  white-space: pre-line;
}

h4.divider {
  margin-top:1em;
}

.divided.items {
  .item {
    padding:10px;
    border-bottom:1px solid #e2e2e2;
  }
}

#emaillist .active a {
  color: #52C27D;
}

#emailtasks {
  i {
    display:inline-block;
    float:left;
  }
  .actionbuttons {
    float:right;
  }
}

#header {
  padding: 0;
}

// .emailtask {
//   margin-bottom:1em;
//   background: white;
//   .header {
//     padding: 1em;
//   }
//   .description {
//     padding: 1em;
//   }
// }

#displayedemail {
  margin-bottom:1em;
  min-height:350px;
  #displayedemaildetails {
    margin-bottom:1em;
  }
}

.ui.items {
  margin-top:0;
}

.button.icon {
  &:hover {
    color:green;
  }
}
div.remove.icon {
  &:hover {
    color:red;
  }
}
div.trash.icon {
  &:hover {
    color:red;
  }
}

.ui.inverted.menu, #header {
  background: #394A57;
}

.ui.message, .ui.steps {
  color: #555;
}

i.green.icon {
  color: #52C27D !important;
}